@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pp_neue_montrealthin';
  src: url('/src/fonts/ppneuemontreal-thin-webfont.woff2') format('woff2'),
         url('/src/fonts/ppneuemontreal-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pp_neue_montrealbold';
  src: url('/src/fonts/ppneuemontreal-bold-webfont.woff2') format('woff2'),
         url('/src/fonts/ppneuemontreal-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'pp_neue_montrealthin', normal;
  }
}

body {
  @apply antialiased;
}