@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Montreal Mono';
  src: url('https://db.onlinewebfonts.com/t/0952f4ae207c41ce8e2f8887a8229d83.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Neue Montreal Mono', monospace;
  }
}

body {
  @apply antialiased;
}